{% set form_name = editor.form.getName %}
{% block images %}
<div class="images_list">
    <div class="images_contents pull-left">
        {% include "AlphaLemonCmsBundle:ImagesList:_list.html.twig" with { 'images': editor.items } %}
    </div>
    <div class="images_attributes pull-right">
        {% include "BootstrapSliderBlockBundle:Editor:item.html.twig" %}
    </div>    
    <div class="clearfix"></div>
</div>    
{% endblock %}
