<div data-title="Carousel editor" rel="popover" data-html="true" data-content='{% include "BootstrapSliderBlockBundle:Editor:_editor.html.twig" %}' class="al_inline_editable popover-zindex">
    {% include "BootstrapSliderBlockBundle:Slider:slider.html.twig" %}
</div>